<div class="battle justify-content: center;" style="background-color: #EEFFFF; margin: 0% 33%; padding-top: 20px;">
  <div style="display: flex; justify-content: center;">
    <div style="padding-top: 140px;">
      <div style="position: relative; width: 100%; text-align: center; z-index: 1">
        <%= image_tag @main_pokemon.pokemon.pokemon_back_image %>
        <div style="position: absolute; bottom: -15px; left: 50%; transform: translateX(-50%); z-index: -1;">
          <%= image_tag 'field.png',  width: '140' %>
        </div>
      </div>
      <div class="pokemon-name-bar" style="margin-top: 20px;">
        <div>
          No.<%= @main_pokemon.pokemon.no %>　<%= @main_pokemon.pokemon.name %>
        </div>
        <div>
          <% @main_pokemon.pokemon.pokemon_types.each do |main_pokemon_type| %>
            <%= image_tag(main_pokemon_type.type_image, height: '20') %>
          <% end %>
        </div>
      </div>
    </div>
    <div style="margin: 30px"></div>
    <div>
      <div class="pokemon-name-bar">
        <div>
          No.<%= @match_pokemon.pokemon.no %>　<%= @match_pokemon.pokemon.name %>
        </div>
        <div>
          <% @match_pokemon.pokemon.pokemon_types.each do |match_pokemon_type| %>
            <%= image_tag(match_pokemon_type.type_image, height: '20') %>
          <% end %>
        </div>
      </div>
      <div style="position: relative; width: 100%; text-align: center; z-index: 1">
        <%= image_tag @match_pokemon.pokemon.pokemon_image %>
        <div style="position: absolute; bottom: -15px; left: 50%; transform: translateX(-50%); z-index: -1;">
          <%= image_tag 'field.png', width: '140' %>
        </div>
      </div>
    </div>
  </div>
  <div id="battle-menu" style="display: flex; justify-content: center; padding-top: 10px;">
    <div style="display: flex; background-color: black; border: 3px solid black;">
      <div id="battle-left-menu" style="padding-right: 50px; color: white; background-color: #669999;">
        <%= @match_pokemon.user.name%>の　<br><%= @match_pokemon.pokemon.name %>が　あらわれた！🔻
      </div>
      <div id="battle-right-menu" style="padding-right: 50px; color: black; background-color: white;">
        <%= link_to 'たたかう', user_pokemon_matches_result_path %>
        <%= link_to 'にげる', root_path %>
      </div>
    </div>
  </div>
</div>