<div style="text-align: center; justify-content: center; margin-top: 5%;">
  <div style="font-size: 40px;">
    <% case @result_message %>
    <% when "WIN" %>
      <span style="color: red;"><%= @result_message %></span>
    <% when "DROW" %>
      <span style="color: grey;"><%= @result_message %></span>
    <% when "LOSE" %>
      <span style="color: blue;"><%= @result_message %></span>
    <% end %>
  </div>
  <div>
    <% if @pokemonget.present? %>
      <div>
        <%= image_tag @pokemonget.pokemon.pokemon_image %>
      </div>
      <div>
        <%= @pokemonget.pokemon.name %>をつかまえた！
      </div>
    <% end %>
  </div>
  <div>
    レート：<%= @current_user_pokemon_match.match_score %>
  </div>
  <div>
    <%= link_to 'もう一度対戦する',  user_pokemon_matches_standby_path, class: 'btn btn-primary', style: 'margin: 10px' %>
  </div>
  <div>
    <%= link_to 'トップページに戻る', root_path,  class: 'btn btn-success', style: 'margin-bottom: 5px'%>
  </div>
</div>