<div class="content-wrapper">
  <%= form_with url: admin_distribute_index_path, method: :post, local: true do |form| %>
    <%= form.select :user_id, options_from_collection_for_select(@users, 'id', 'name') %>
    <%= form.select :pokemon_id, options_from_collection_for_select(@pokemons, 'id', 'name') %>
    <%= file_field :avatar, class: 'form-control mb-3', accept: 'image/*', id: 'avatar-input' %>
    <%= form.submit '配る', class: 'btn btn-primary' %>
  <% end %>
</div>