<!-- ポケモン一覧 -->
<table align="center" class="pokemons-table">
  <!-- ポケモンの情報を表示 -->
  <%= search_form_for @q, url: pokemons_path do |f| %>
    <div class="relative flex rounded-md">
      <div style="padding: 20px 55px; text-align: center;" data-controller="autocomplete" data-autocomplete-url-value="/pokemons/search" role="combobox">
  	    <%= f.search_field :name_cont, data: { autocomplete_target: 'input' }, class: "w-[1200px] py-3 px-4 pl-11 block border-gray-200 shadow-sm rounded-md text-sm focus:z-10 focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400",  placeholder: "ポケモンの名前で検索しよう" %>
        <%= f.submit "検索", class: "ml-4 py-3 px-4 inline-flex flex-shrink-0 justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 focus:z-10 focus:outline-none focus:ring-2 focus:ring-blue-500 transition-all text-sm" %>
  	    <%= f.hidden_field :name, data: { autocomplete_target: 'hidden' } %>
  	    <div class="list-group bg-white absolute w-full md:text-sm" style="width: calc(315px); text-align: left; margin: auto; top: 100%;" data-autocomplete-target="results"></div>

      </div>
    </div>
  <% end %>
  <% pokemons.each do |pokemon| %>
    <tr style='text-align: center; border: 2px dotted gray;'>
      <td style="width: 100px;"><%= pokemon.no %></td>
      <td style="width: 30px;"><%= image_tag(pokemon.pokemon_image) %></td>
      <td style="width: 100px;"><%= link_to pokemon.name, "#", onclick: "window.open('https://zukan.pokemon.co.jp/detail/#{pokemon.no}', 'ポケモン詳細', 'width=600, height=550')", class: 'link'%></td>
      <td style="width: 150px;">
        <% pokemon.pokemon_types.each do |pokemon_type| %>
          <%= image_tag(pokemon_type.type_image, height: '25', weight: '75') %>
        <% end %>
      </td>
      <td style=" padding-right: 50px;"><%= link_to 'キミに決めた!', box_pokemons_select_path(pokemon_id: pokemon.id), data: { turbo_method: :post }, class: 'btn btn-primary' %></td>
    </tr>
  <% end %>
</table>
